@model AlloeHRMSystem.UI.ViewModels.AddEmergencyCallViewModel

@{
    ViewData["Title"] = "AddEmergencyCall";
}

<h1>AddEmergencyCall</h1>

<h4>EmployeeEmergencyCall</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEmergencyCall">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurName" class="control-label"></label>
                <input asp-for="SurName" class="form-control" />
                <span asp-validation-for="SurName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelationTo" class="control-label"></label>
                <input asp-for="RelationTo" class="form-control" />
                <span asp-validation-for="RelationTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <p>
                    <a asp-action="AddEmergencyCall">Add More</a>
                </p>
            </div>
        </form>
        @if (TempData["successAlert"] != null)
        {
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <p>@TempData["successAlert"]</p>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

