@model AlloeHRMSystem.UI.ViewModels.EmployeeViewModel.CreateEmployeeViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="btn btn-block">

    @*<div class="card-body" text-center>


        <a asp-controller="Employee" asp-action="EditEmployee"
           class="btn btn-primary">
            EditPersonalData
        </a>

    </div>*@


    <div class="card-body" text-center>


        <a asp-controller="Employee" asp-action="AddProject"
           class="btn btn-primary">
            Update Project
        </a>

    </div>


    <div class="card-body" text-center>


        <a asp-controller="Employee" asp-action="AddCertificate"
           class="btn btn-primary">
            Update Certificate
        </a>

    </div>

    <div class="card-body" text-center>

        <a asp-controller="Employee" asp-action="AddEducation"
           class="btn btn-primary">
            Update Education
        </a>

    </div>

    <div class="card-body" text-center>


        <a asp-controller="Employee" asp-action="AddEmergencyCall"
           class="btn btn-primary">
            Update EmergencyCall Info
        </a>

    </div>

    <div class="card-body" text-center>


        <a asp-controller="Employee" asp-action="AddLanguage"
           class="btn btn-primary">
            Update Language Info
        </a>

    </div>

    <div class="card-body" text-center>


        <a asp-controller="Employee" asp-action="AddTechSkill"
           class="btn btn-primary">
            Update TechSkill Info
        </a>

    </div>

    <div class="card-body" text-center>


        <a asp-controller="Employee" asp-action="AddTraining"
           class="btn btn-primary">
            Update Training Info
        </a>

    </div>

    <div class="card-body" text-center>


        <a asp-controller="Employee" asp-action="AddAttachment"
           class="btn btn-primary">
            Upload Attach Files
        </a>

    </div>


</div>

