
<div class="card-body">
    <div class="alert-primary alert-success">
        @if (TempData["successAlert"] != null)
        {
            <div class="alert alert-success">
                <a href="" class="close" data-dismiss="alert" aria-label="close">X</a>
                <p class="alert-success alert-heading">@TempData["successAlert"]</p>
            </div>
            <div>
                <p>
                    
                </p>
            </div>
        }
    </div>
</div>
